body{
    margin:0px;
    padding:0px;
    background-color:beige;
    background-image:url("../image/mainPageImg1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family:arial;
}
.content h1{
    color:maroon;
    font-size:35px;
    padding-left:510px;
    padding-bottom:90px;
}
nav{
    background-color:black;
    width:100%;
    overflow:hidden;
}
.ul1{
    list-style:none;
    padding:0 0 0 75%;
    margin:0 0 0 250px;
}
.li1 a{
    text-decoration:none;
    color:white;
    display:block;

    width:100px;
    padding:20px 15px;
    text-align:center;
}
.li1{
    float:left;
    
}
.brandName{
    padding:20px 100px;
    position:absolute;
}
.brandName a{
    text-decoration:none;
    color:burlywood;
}
.logoImg{
    width:60px;
    height:50px;
    position:absolute;
    padding:4px 20px;
}
.li1 a:hover{
    color:green;
}
footer{
    background-color:black;
    width:100%;
    overflow:hidden;
    position:absolute;
    margin-top:40.5%;
}
.f_data{
    color:white;
    padding:15px 30px;
    float:left;
    list-style:none;
}
.cright{
    color:white;
    font-size:13px;
    padding:15px 0 0 90%;
    position:absolute
}
.content{
    position:absolute;
    padding:100px 0px;
}
.aboutBtn{
    padding:50px 0 0 350px;
}
.select1{
    position:absolute;
    left:4%;
    top:45%;
}
.select2{
    position:absolute;
    left:40%;
    top:45%;
}
.select3{
    position:absolute;
    left:75%;
    top:45%
}
.select4{
    position:absolute;
    left:110%;
    top:45%;
}
.select5{
    position:absolute;
    left:145%;
    top:45%;
}
.btn1{
    border:0px;
    border-radius:6px;
    background-color:sienna;
    color:whitesmoke;
    font-size:35px;
    width:170px;
    height:90px;
}
.btn1:hover{
    border:0px solid black;
    border-radius:6px;
    background-color:white;
    color:black;
    font-size:35px;
    width:170px;
    height:90px;
}
.aboutBtn2{
    padding:90px 0 0 580px;
}
.aboutBtn2 .btn1{
    width:360px;
    height:45px;
}
.aboutBtn3{
    padding:90px 0 0 400px;
}
.aboutBtn3 a{
    padding:0 110px;
}
.select{
    width:200px;
    height:70px;
    border:0px;
    border-radius:6px;
    background-color:sienna;
    color:whitesmoke;
    padding-right:7px;
    font-size:35px;
    direction:rtl;
}
.check{
    width:15px;
    height:15px;
}
.aboutBtn a{
    padding-right:20px;
}
.aboutBtn3 .btn1{
    width:200px;
    height:55px;
}
.lab11{
    position:absolute;
    right:-30px;
    top:20px;
}
.center11{
    position:absolute;
    right:-30px;
    top:20px;
}
.clinicRadio{
    position:absolute;
    right:-30px;
    top:20px;
}